@model _1.Models.Employee
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Data</h1>
    <table>
        <tr>
            <td> Id </td>
            <td> = </td>
            <td> @Model.EmployeeId </td>
        </tr>
        <tr>
            <td> Nama </td>
            <td> = </td>
            <td> @Model.EmployeeName </td>
        </tr>
    </table>
</body>
</html>

