<html>
<head>
    <title>@ViewBag.Title</title>
</head>

<body>
    <h1>Detail Karyawan</h1>


        <h5>Nama    : @ViewBag.Data["name"] </h5>
        <h5>Divisi  : @ViewBag.Data["division"] </h5>

</body>
</html>
