<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Index Page Controller Employee</h1>
    @foreach (Dictionary<string, object> data in ViewBag.Employee) { 
        <h4>Nama : @data["name"]</h4>
        <h4>Divisi : @data["division"]</h4>
        <hr />
    }
</body>
</html>

