<html>
<head>
    <title></title>
</head>
<body>

    @*<form action="~/latihan/show/" method="post">
        <table>
            <tr>
                <td><input type="text" placeholder="Id" name="id" required pattern="[0-9]+" /></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="First Name" name="fn" /></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="Last Name" name="ln" /></td>
            </tr>
            <tr>
                <td><button type="submit" name="save">Save</button></td>
            </tr>
        </table>
    </form>*@

    <form action="~/latihan/trytemp" method="post">
        <table>
            <tr>
                <td><input type="text" placeholder="Id" name="Id" required pattern="[0-9]+" /></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="First Name" name="FirstName" /></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="Last Name" name="LastName" /></td>
            </tr>
            <tr>
                <td><button type="submit" name="save">Save</button></td>
            </tr>
        </table>
    </form>
</body>
</html>
