<html>
<head>
    <title>

    </title>
</head>
<body>
    <h1> @ViewBag.Result </h1>
    <form action="~/palindrom" method="post">
        <input type="text" name="text"/>
        <button type="submit" name="send">Send</button>
    </form>
</body>
</html>
