@model _2.Models.Person
<html>
<head>
    <title></title>
</head>
<body>
    <table>
        <tr>
            <td><h3>Id</h3></td>
            <td>:</td>
            <td><h3>@Model.Id</h3></td>
        </tr>
        <tr>
            <td><h3>First Name</h3></td>
            <td>:</td>
            <td><h3>@Model.FirstName</h3></td>
        </tr>
        <tr>
            <td><h3>Last Name</h3></td>
            <td>:</td>
            <td><h3>@Model.LastName</h3></td>
        </tr>
    </table>

</body>
</html>