@model _2.Models.Person
<html>
<head>
    <title></title>
</head>
<body>
    <table>
        <tr>
            <td>Id</td>
            <td>:</td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>First Name</td>
            <td>:</td>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>:</td>
            <td>@Model.LastName</td>
        </tr>
    </table>

</body>
</html>


